@model MLMWebsite.Models.LevelSetting

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LevelSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LevelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LevelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PackagePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PackagePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Admin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level4)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level4)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level5)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level5)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level6)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level6)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level7)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level7)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level8)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level8)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level9)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level9)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level10)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level10)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LevelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
