@model MLMWebsite.Data.ApplicationUser
@{
    ViewData["Title"] = "ApprovingUser";
}
<div class="container bg-light p-5">
    <div>
        <a asp-action="Dashboard" asp-controller="Home">Home</a>
    </div>
    @{
        if (User.IsInRole("InitAdmin"))
        {

        }

        else if (User.IsInRole("Admin"))
        {

        }
        else
        {
            <p>
                <a asp-action="Create">Create New</a>
            </p>
        }
    }

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                @*<th>
                        Id
                    </th>*@
                <th>
                    Status
                </th>

                <th>
                    Approve
                </th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>
                        @Model.UserName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Email)
                    </td>
                    <td>
                        <p class="text-danger">Not Approved</p>
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@

                    @*<td>
                            @await Component.InvokeAsync("ProofApproval")
                        </td>*@
                    <td>
                        <a href="/Proofs/GetUserProof?email=@Model.Email">Approve</a>
                    </td>
                </tr>
        </tbody>
    </table>

</div>