@model IEnumerable<MLMWebsite.Models.BarCode>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <table class="table table-bordered">
        <h2>Index</h2>
        @if (Model.Count() == 0)
        {
            <p>
                @*<a asp-action="Create">Create New</a>*@
            </p>
        }
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QRCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationUser)
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            string imagepngData = Convert.ToBase64String(item.QRCode);
                            string imagepngDataURL = string.Format("data:image/png;base64,{0}", imagepngData);
                        }
                        <img src="@imagepngDataURL" width="200" alt="image" />
                    </td>
                    @*<td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                </td>*@
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                       <button class="btn btn-primary" >
                           <a  style="color:white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                           </button> 
                    </td>
                </tr>
            }
        </tbody>
        </table>
    </div>

