@model IEnumerable<MLMWebsite.Models.Proof>

@{
    ViewData["Title"] = "Index";
}
<div class="container bg-light p-5">
    @{
        if (!User.IsInRole("InitAdmin"))
        {

        }
        else if (User.IsInRole("SuperAdmin"))
        {

        }
        else if (User.IsInRole("Admin"))
        {

        }
        else
        {

        }
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.File)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @{
                        string imagepngData = Convert.ToBase64String(item.File);
                        string imagepngDataURL = string.Format("data:image/png;base64,{0}", imagepngData);
                    }
                    <img src="@imagepngDataURL" width="200" alt="image" />
                </td>
                <td>
                <td>
                    <a asp-action="Approveda" asp-controller="Proofs" asp-route-id="@item.ApplicationMemberId">Accept this guy</a>
                </td>

            </tr>
            }
        </tbody>
    </table>

</div>
