@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using MLMWebsite.Data
@using MLMWebsite.Models
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<div class="container bg-white">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ApprovalCount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApprovalCount)
                        </td>
                        <td>
                            <a asp-action="GetUserProof" asp-route-id="@item.Id">Approve</a> |
                        </td>
                    </tr>
                

            }
        </tbody>
    </table>

</div>
